.yama-container {
    width: 450px;
    margin: auto;
    padding-bottom: 100px;
}

.platform-section {
    margin-top: 80px;
}

.platform-title {
    font-size: 2rem;
    margin-bottom: 30px;
    border-left: 4px solid #00ffc3;
    padding-left: 15px;
}

.card {
    background: #1a1a22;
    border-radius: 15px;
    margin-bottom: 25px;
    overflow: hidden;
    border: 1px solid #2a2a35;
    transition: 0.3s;
    cursor:pointer;
}

.card:hover {
    transform: translateY(-5px);
    border-color: #00ffc3;
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-bottom: 10px;
}

.card-content p {
    opacity: 0.7;
    margin-bottom: 10px;
}

.tag {
    display: inline-block;
    padding: 5px 12px;
    background: #00ffc320;
    border: 1px solid #00ffc3;
    border-radius: 20px;
    font-size: 0.8rem;
}
